@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

body {
    background: #F5F9FF;
    font-family: 'Oswald', sans-serif;
}

.container {
    height: 100vh;
}

.todo-input-container {
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 4px #0000002b;
    width: 90%;
}

.todo-label {
    background-color: #adff2f;
    border-radius: 5px 0px 0px 5px;
    font-size: 20px;
    padding: 10px 20px;
}

.todo-text-input {
    border: 0 solid #b0c1ca;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    padding: 10px;
    transition: 0.5s;
    width: 100%;
}

.todo-text-input:focus::placeholder{
    color: transparent;
}

.todo-text-input:hover {
    box-shadow: none;
}

.add-btn {
    background-color: #000000b9;
    border-radius: 0px 5px 5px 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}

.add-btn:hover,
.add-btn:focus {
    background-color: #adff2f;
    border-color: #adff2f;
}

.todo-list-container {
    list-style-type: none;
    padding: 0px;
}

.todo-item-container {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px #0000002b;
    margin-bottom: 15px;
    padding: 15px 10px;
    transition: 0.1s;
    width: 90%;
    z-index: 2;
}

.todo-item-container-completed {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px #9ce82b;
    padding: 10px;
}

.todo-item-checkbox-input {
    margin-left: 2px;
    margin-right: 10px;
    width: 16px;
}
.todo-item-checkbox-input:checked {
    accent-color: #9ce82b;
}

.todo-item-label-container {
   overflow-wrap: break-word;
    width: 100%;
}

.todo-item-label {
    width: 95%;
}

.todo-item-label-completed {
    /* text-decoration: line-through; */
    text-decoration-color: #9ce82b;
    text-decoration-thickness: 2px;
    /* text-shadow: 1px 1px 15px #9ce82b; */
    transition: 0.1s;
}

.todo-item-delete-icon-container {
    margin-left: 20px;
    margin-right: 5px;
    text-align: center;
    width: 5%;
}

.footer {
padding: 20px;
text-align: center;
z-index: 1;
}

.github-link {
    color: #383838e3;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}

@media screen and (min-width: 900px) {
    .todo-input-container {
        width: 50%;
    }

    .todo-item-container {
        width: 50%;
    }
  }